<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="7c3145ec-2334-4e76-9f0f-c8e5cdb1911e" Publisher="CN=joshua" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Prototype.Windows</DisplayName>
    <PublisherDisplayName>joshua</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Prototype.Windows.App">
      <m2:VisualElements DisplayName="Prototype.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Prototype.Windows" ForegroundText="dark" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\phyloSplash3.jpg" BackgroundColor="black" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>